<h1>La réponse</h1>
<p>Salut</p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="New question?">
  <input type="submit">
</form>
<p> Votre question est : <%= @question %> </p>

<p> Votre reponse est : <%= @reponse %> </p>
